<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.3.4/css/ol.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/mapStyle.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/generalStyle.css" type="text/css">
    <script src="https://openlayers.org/en/v4.3.4/build/ol.js" type="text/javascript"></script>
    <script type="text/javascript" src="../public/javascripts/mapOperations.js"></script>
    <title>Hike</title>
  </head>
  <body>
    <div id="map" class="map"></div>
    <div id = "mouseCoordinates" class="text faded"></div>
    <script type="text/javascript">
      var map = initMap();
    </script>
  </body>
</html>