/*##############################################################*/
/*------------------ Native OL styling override ----------------*/
/*##############################################################*/

.ol-mouse-position {
	font-size: 12px;
	font-weight: 600;
}

/*##############################################################*/
/*------------------- Divs etc ---------------------- ----------*/
/*##############################################################*/

#map {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#mouseCoordinates {
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 110px;
	z-index: 2;
}

#optionsContainer {
	position: absolute;
	top: 80px;
    left: 8px;
    z-index: 2;
    width: 31px;
}

#filterContainer, #polygonFilterContainer {
	position: absolute;
    top: 80px;
    left: 42px;
	width: 170px;
	z-index: 3;
	padding: 5px;
}

#spatialSearchContainer {
	position: absolute;
    top: 80px;
    left: 42px;
	width: 220px;
	z-index: 3;
	padding: 5px;
}

#featureInfoContainer, #polygonInfoContainer {
	position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
	z-index: 3;
}

@media only screen and (max-width: 500px) {
    #featureInfoContainer {
    	width: 96%;
    	margin: 0 2%;
    	right: 0;
    	bottom: 5px;
    }
}

#spatialParamsContainer {
	margin: 5px 0;
	width: 100%;
	height: 65px;
}

#spatialButtonsContainer {
	width: 40%;
	box-sizing: border-box;
	float: right;
	position: relative;
    top: -17px;
    right: -10px;
}

/*##############################################################*/
/*------------------- Buttons ----------------------------------*/
/*##############################################################*/

#filterButton:before {
	font-size: 16px;
	font-family: FontAwesome;
    content: "\f0b0";
}

#polygonFilterButton:before {
	font-size: 16px;
	font-family: FontAwesome;
    content: "\f278";
}

#spatialSearchButton:before {
	font-size: 16px;
	font-family: FontAwesome;
    content: "\f0ac";
}

#spatialSearchExecuteButton:after {
	font-size: 13px;
	font-family: FontAwesome;
    content: "\f05b";
}


/*##############################################################*/
/*------------------- Fields /----------------------------------*/
/*##############################################################*/

#lonSearch, #latSearch {
	width: 60%;
	box-sizing: border-box;
	float: left;
	margin: 5px 0;
}

