

/*##############################################################*/
/*------------------ Native OL styling override ----------------*/
/*##############################################################*/

.ol-mouse-position {
	font-size: 12px;
	font-weight: 600;
}

/*##############################################################*/
/*------------------- Divs etc ---------------------- ----------*/
/*##############################################################*/

#map {
	height: 100%;
	width: 100%;
}

#mouseCoordinates {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 110px;
}