<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.3.4/css/ol.css" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/mapStyle.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/generalStyle.css" type="text/css">
    <script src="https://use.fontawesome.com/086dd92681.js"></script>
    
    <script src="https://openlayers.org/en/v4.3.4/build/ol.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/terraformer.min.js"></script> 
    <script type="text/javascript" src="/javascripts/terraformer-wkt-parser.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/layerStyles.js"></script>
    <script type="text/javascript" src="/javascripts/mapOperations.js"></script>
    <script type="text/javascript" src="/javascripts/uiGeneration.js"></script>
    
    <meta name="viewport" content="width=device-width">
    <title>Hike</title>
  </head>
  <body>
    <div id="map" class="map">
      <div id = "mouseCoordinates" class="text faded"></div>
      <div id = sideNav>
        <div id = "optionsContainer" class="container text faded"></div>
      </div>
      
    </div>
    <script type="text/javascript">
      var map = initMap();
      initUI();
    </script>
  </body>
</html>